#searchBar {
  height: 45px;
}
#searchBar input {
  border-radius: 5rem 0px 0px 5rem;
  width: 70%;
  border: none;
}
#searchBar input:focus {
  outline: none;
}
#searchBar button {
  width: 60px;
  border-radius: 0px 5rem 5rem 0px;
}
#searchBar button img {
  height: 100%;
}
